<% flash.each do |name, msg| %>
    <!--<div class="row">-->
    <!--    <button class="btn-flat waves-effect waves-teal">-->
    <!--        <i class="material-icons">close</i>-->
    <!--    </button>-->
        <%= content_tag(:div, msg) %>
    <!--</div>-->
<% end %>