<h1>Home Route</h1>

<br></br>


<%#= @coins["2"]["name"] %><br>
<%#= @coins["2"]["quotes"]["USD"]["price"].round(2) %>

<% if @coins %>
    <% @coins.each do |val| %>
        <%= val[1]["name"] %> :
        $<%= val[1]["quotes"]["USD"]["price"].round(2) %><br>
        Rank: <%= val[1]["rank"] %><br><br>
    <% end %>
<% end %>








